a {
    float: right;
    width: 10%;
    positioN: relative;
    top: 30px;
    text-align: center;
    font-size: 20px;
    border: ridge;
    border-width: 5px;
    margin: 10px 10px 10px 10px;
    background-color: white;
}

body {
    font-family: helvetica;
    margin: 0;
    padding: 0;
}

html {
    background-color: lightgrey;
}

footer {
    margin: 0;
    padding: 0;
}

/* It's all about that Class bout that Class */
.about {
    position: relative;
    font-size: 30px;
    font-family: Georgia;
    color: turquoise;
}

.about-me {
    float: left;
    margin: 0 auto;
    position: relative;
    width: 40%;
}

.box {
    background-color: turquoise;
    width: 25%;
    height: 10%;
    text-align: center;
    float: left;
    font-family: Georgia;
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 25px 25px 25px 25px;
    border-style: groove;
    border-width: 20px;
    border-color: turquoise;
    position: relative;
    
}

.intro {
    position: relative;
    top: 40px;
    text-align: left;
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-style: groove;
    border-width: 5px;
    border-color: lightcyan;
    float: right;
    width: 910px;   
}

.line {
    border: solid;
    border-width: 1px;
    background-color: black;
    margin-bottom: 20px;
}

.margin {
    margin: 0 auto;
    width: 960px;
}

.port-example {
    width: 300px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.profile-bio {
    line-height: 1.7em;
    font-size: 20px;
}

.profile-pic {
    float: left;
    padding-top: 15px;
    padding-right: 30px;
}

.submit {
    background-color: turquoise;
    color: white;
    width: 100px;
    height: 50px;
}

.upper-lip {
    border-bottom: solid;
    border-width: 4px;
    color: #e0e0e0;
    background-color: white;
    position: absolute;
    height: 130px;
    width: 100%;
    /* float: center; */
}

.lower-lip {
    border-top: solid;
    border-width: 4px;
    color: #e0e0e0;
    background-color: dimgrey;
    position: fixed;
    height: 35px;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding-top: 15px;
}